body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#app {
    position: relative;
    height: 100%;
    flex: 1;
}

#left {
    left: 0;
    right: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#right {
    right: 0;
    left: 50%;
    font-size: 12px;
    background: #f7f7f7;
    border-left: 1px solid #ddd;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}